/*////////// FORMS //////////*/

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 0;
}

#mc_embed_signup div#mce-responses {
  padding: 0;
  margin: 0;
}

#mc_embed_signup div.response {
  padding: 0;
  margin: 0 0 15px;
  font-weight: normal;
  width: 100%;
  font-size: 0.85em;
}

#mc_embed_signup #mce-success-response, #mc_embed_signup #mce-error-response {
  color: #000;
}

#mc_embed_signup label {
  display: inline-block;
  font-size: .78rem;
  margin-top: 6px;
}

#mc_embed_signup label:first-of-type {
  margin-top: 0px;
}

.verif_box, .verify_img {
  display: inline-block;
  vertical-align: top;
}

.verif_box {
  width: 85%;
}

.verif_img {
  width: 15%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.status_message {
  font-size: 1em;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.status_message.success {
  border-color: green;
  color: green;
}

.status_message.error {
  border-color: red;
  color: red;
}
