/*////////// NAV //////////*/
nav {
  width: 33.3333%;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.main-nav {
  text-align: center;
}

.main-nav a {
  display: inline-table;
  text-align: center;
  padding: 0 10px;
  height: 100%;
}

.main-nav a:hover {
  color: rgb(200, 10, 0);
}

.main-nav a span {
  display: table-cell;
  vertical-align: middle;
}

.social-nav a{
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 15px;
  font-size: 1.2em;
  float:right;
}
.wrap {
  height: 100%;
}
.vr {
  height: 2em;
  width: 2em;
}


a:hover {
  color: rgb(200, 10, 0);

}

a.active {
  color: rgb(79, 104, 140);
  background: -moz-linear-gradient(top,  #fe9090 0%, #febbbb 50%, #87dbc6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fe9090 0%,#febbbb 50%,#87dbc6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fe9090 0%,#febbbb 50%,#87dbc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9090', endColorstr='#87dbc6',GradientType=0 ); /* IE6-9 */
}

a.workactive {
  color: rgb(79, 104, 140);
  background: -moz-linear-gradient(top,  #fe9090 0%, #febbbb 50%, #87dbc6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fe9090 0%,#febbbb 50%,#87dbc6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fe9090 0%,#febbbb 50%,#87dbc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9090', endColorstr='#87dbc6',GradientType=0 ); /* IE6-9 */
}

* { box-sizing: border-box; }

/*.logo-nav img {
  display: block;
}*/
